{extend name="template/wap/base.html" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__TMPL__/css/member.css"/>
<style>

</style>
{/block}
{block name="body"}

<div id="head-bar">
    <div class="head-bar">
        <div class="head-bar-back">
            <a href="javascript:Dback();" data-direction="reverse"><img src="__TMPL__/images/icon-back.png" width="24" height="24"/><span>返回</span></a>
        </div>
        <div class="head-bar-title">{$category['name']}修改</div>
        <div class="head-bar-right">
            <a href="{:url('lists',['name'=>$category['dir_name']])}"><span>取消</span></a>
        </div>
    </div>
    <div class="head-bar-fix"></div>
</div>

<div class="ui-form">

    <form method="post" action="?" id="dform" t data-ajax="false" onsubmit="return check();">

        <input type="hidden" name="name" value="{$category['dir_name']}"/>
        <input type="hidden" name="itemid" value="{$info['id']}"/>


        <p>信息标题<em>*</em><b id="dtitle"></b></p>
        <div><input name="title" type="text" id="title" value="{$info['title']}" maxlength="30"/></div>
        <?php
            $s_category=db('district')->where(['parent_id'=>1])->order('id asc')->select();
        ?>
        <p>行业分类</p>
        <div><span >
            <select onchange="load_category(this.value,'#category_tree');" name="cid">
            <option value="0">选择分类</option>
                {volist name="$s_category" id="mcate"}
                <option value="{$mcate['id']}">{$mcate['name']}</option>
                {/volist}
            </select>

              <select id="category_tree" name="cid" style="display: none;">

             </select>
        </span>
            <?php
            $d_category=db('district')->where(['parent_id'=>13])->order('id asc')->select();
            ?>
            <p>行业地区</p>
            <div><span>
            <select onchange="load_category(this.value,'#address_tree');" name="did">
            <option value="0">选择地区</option>
                {volist name="$d_category" id="mcate"}
                <option value="{$mcate['id']}">{$mcate['name']}</option>
                {/volist}
            </select>

              <select id="address_tree" name="did" style="display: none;">

             </select>
        </span>
                <p>详细说明</p>
</div>

<div class="ui-editor-content" id="editor">
    <textarea name="content" style="border: 1px solid #B2B2B2;width: 95%;height: 200px;padding: 5px;">{$info['content']}</textarea>
</div>

<div class="ui-form">
    <div class="blank-16"></div>
    <input type="submit" name="submit" value="修改" class="btn-blue"/>
    <div class="blank-32"></div>
</div>
</form>

<script type="text/javascript">

    $(function(){
        init_category();
    })
    function _p() {
        if(Dd('tag').value) {
            Ds('reccate');
        }
    }
    function check() {
        $.post('{:url("/member/info/edit")}',$('form').serialize(),function(data){
            if(data.status=='0'){
                Dtoast(data.message);
            }else{
                Dtoast(data.message);
                setTimeout(function(){
                    location.href=data.referer;
                },1000);
            }
        },'json');
        return  false;

    }
    var destoon_oauth = '0';

    function load_category(catid,obj) {

        $.post('{:url("/member/info/ajax")}', 'catid='+catid, function(data) {
            html='';
            html+='<option value="'+catid+'">全部</option>';
            for(var i in data) {
                html+='<option value="'+data[i]['id']+'">'+data[i]['name']+'</option>';
            }
            $(obj).show().html(html);
        },'json');
    }
    
    function init_category() {

        arr='{$info['cid_path']}';

        newarr=arr.split(',');

        $('select').find("option[value='"+newarr[0]+"']").attr('selected',true);
        load_category(newarr[0],'#category_tree');
        setTimeout(function(){
            $('select').find("option[value='"+newarr[1]+"']").attr('selected',true);
        },500);


        arr2='{$info['did_path']}';

        newarr2=arr2.split(',');

        $('select').find("option[value='"+newarr2[0]+"']").attr('selected',true);
        load_category(newarr2[0],'#address_tree');
        setTimeout(function(){
            $('select').find("option[value='"+newarr2[1]+"']").attr('selected',true);
        },500);


    }
</script>
{/block}