{extend name="template/wap/base.html" /}
{block name="css"}
<style>
    .foot-bar{display: none;}
</style>
{/block}
{block name="body"}

<div id="head-bar">
<div class="head-bar">
    <div class="head-bar-back">
        <a href="javascript:Dback();" data-direction="reverse"><img src="__TMPL__/images/icon-back.png" width="24" height="24"/><span>返回</span></a>
    </div>
    <div class="head-bar-title">会员登录</div>
    <div class="head-bar-right"><a href="{:url('/member/register')}" data-ajax="false"><span>注册</span></a></div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
    <form method="post" onsubmit="return Dcheck();">

        <div class="list-inp"><div class="bd-b"><input type="tel" name="username" id="username" value="" placeholder="手机号码" onblur="window.scrollTo(0,0);"/></div></div>
        <div class="list-inp"><div class="bd-b"><input type="password" name="password" id="password" placeholder="请填写密码" onblur="window.scrollTo(0,0);"/></div></div>
        <div class="blank-20"></div>
        <div class="list-btn"><input type="submit" name="submit" value="登 录" class="btn-blue"/></div>
        <div class="blank-20"></div>
    </form>
</div>
<div class="blank-20"></div>
<div class="list-set">
    <ul>
        <li style="display: none;"><div><a href="{:url('/member/login/sms')}">短信登录</a></div></li>
        <li><div><a href="{:url('/member/register')}" data-ajax="false">会员注册</a></div></li>
        <li><div><a href="{:url('/member/getpwd')}" data-ajax="false">忘记密码</a></div></li>
    </ul>
</div>
<script type="text/javascript">
    function Dcheck() {
        if(Dd('username').value.length < 11) {
            Dtoast('请输入手机号');
            return false;
        }
        if(Dd('password').value.length < 6) {
            Dtoast('请输入密码');
            return false;
        }
        $.post('{:url("/member/login")}',$('form').serialize(),function(data){
            if(data.status=='0'){
                Dtoast(data.message);
            }else{
                Dtoast(data.message);
                setTimeout(function(){
                    location.href=data.referer;
                },1000);
            }

        },'json');
        return  false;
    }
    function Scheck() {
        if(Dd('mobile').value.length < 11) {
            Dtoast('请输入手机号码');
            return false;
        }
        if(Dd('code').value.length < 6) {
            Dtoast('请输入短信验证码');
            return false;
        }
        return true;
    }
    function Dstop() {
        var i = 180;
        var interval=window.setInterval(
            function() {
                if(i == 0) {
                    $('#send').html('发送短信');
                    clearInterval(interval);
                } else {
                    $('#send').html('重新发送('+i+'秒)');
                    i--;
                }
            },
            1000);
    }
    function Dsend() {
        if($('#send').html().indexOf('秒') != -1) {
            Dtoast('请耐心等待');
            return false;
        }
        if(Dd('mobile').value.length < 11) {
            Dtoast('请输入手机号码');
            return false;
        }
        if($('#ccaptcha').html().indexOf('ok.png') == -1) {
            Dtoast('验证码填写错误');
            return false;
        }
        $.post('?', 'action=send&mobile='+Dd('mobile').value+'&captcha='+Dd('captcha').value, function(data) {
            if(data == 'ok') {
                Dtoast('短信发送成功');
                Dstop();return;
            } else if(data == 'mobile') {
                Dtoast('手机格式错误');
            } else if(data == 'captcha') {
                Dtoast('验证码错误');
            } else if(data == 'mob') {
                Dtoast('号码不存在或未验证');
            } else if(data == 'max') {
                Dtoast('发送次数过多');
            } else if(data == 'fast') {
                Dtoast('发送频率过快');
            } else {
                Dtoast('发送失败'+data);
            }
            reloadcaptcha();
        });
    }
    $(function(){
        if($('#captcha')) $('#captcha').css({'width':'120px','border':'none','padding':'0','font-size':'16px','margin-top':'10px'});
        if($('#username')) {
            $('#username').bind('keyup blur', function() {
                $(this).val(DTrim($(this).val()));
            });
        }
    });
</script>

{/block}