{extend name="admin@public/base" /}

{block name="main-content"}
<div class="main-content"> 
  	 
	<div class="main-content-inner">
 
		<div class="page-content">
			
			<div class="row">
			<div class="tabbable">
				<ul class="nav nav-tabs" id="myTab">
			
					<li class="active"><a data-toggle="tab" href="#tag1">模块配置</a></li>
					
				</ul>
				
				<form class="form-horizontal"  role="form" method="post" >
				<input type="hidden" name="module" value="<?php echo $module['module_name'] ?>">
				<input type="hidden" name="id" value="<?php echo $module['id'] ?>">
				<div class="tab-content">
					
				
					<div id="tag1" class="tab-pane active">
						
						
						<?php
					
							echo  \form\Form::input('text','',$module['name'],'模板名','模板名',['disabled'=>'disabled']);
							echo  \form\Form::input('text','domain',$module['domain'],'二级域名','二级域名前缀，无需填写一级域名');
							
						?>
					
					</div>
					

				
				
				</div>
				
				
				<div class="clearfix form-actions">
						<div class="col-md-offset-2 col-md-10">
							<button class="btn btn-info"  type="button">
								<i class="icon-ok bigger-110"></i>
								保存
							</button>


							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
			
			</div>
		
		</div>
		
		
	</div>

</div> 


{/block}


