{extend name="admin@public/base" /}

{block name="main-content"}
<div class="main-content">

	<div class="main-content-inner">

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
                    <div class="border clearfix">
                        <div class="search clearfix">
                            <form class="form-inline">
								<span class="btn btn-info btn-sm" onclick="showchart(6,0,0)">最近7天</span>
								
								 <span class="btn btn-sm btn-link"  onclick="showchart(29,0,0)">最近30天</span>
								
                                   <?php
                                         echo  \form\Form::input('calendar','stime',input('get.stime'),'时间','');
                                        echo  \form\Form::input('calendar','etime',input('get.etime'),'','');
                                    ?>

                                <div class="form-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-purple btn-sm">
                                        搜索
                                        <i class="icon-search icon-on-right bigger-110"></i>
                                    </button>
                                 </span>
                                </div>
                            </form>

                        </div>

                    </div>





					<div class="table-responsive">
					  <table class="table table-striped table-bordered table-hover">
						   <thead>
							<tr>
							 <th class="center" colspan="6">会员统计</th>
							</tr>
						   </thead>
						   <tbody>

							<tr>
								 <td class="left">今日新增会员：{$member['day']}</td>
								 <td class="left">昨天新增会员：{$member['yesterday']}</td>
								 <td class="left">7天新增会员：{$member['week']}</td>
								 <td class="left">本月新增会员：{$member['current_month']}</td>
								 <td class="left">30天新增会员：{$member['month']}</td>
								 <td class="left">会员总数：{$member['count']}</td>
							</tr>    
							
							<tr>

								 <td class="left">正常会员数：{$member['not_lock_count']}</td>
								 <td class="left">锁定会员数：{$member['lock_count']}</td>
								 <td class="left"></td>
								 <td class="left"></td>
								<td class="left"></td>
								<td class="left"></td>
							</tr>
						   </tbody>
					</table>




  					  <table class="table table-striped table-bordered table-hover">
						   <thead>
							<tr>
							 <th class="center" colspan="6">K线图</th>
							</tr>
						   </thead>
						   <tbody>
							<tr>
								 <td>
									<div id="statistics" style="height: 400px;"></div>
								 </td>
								
							</tr>    
					
						   </tbody>
					</table>





					</div>

                  
				</div>

			</div>



		</div>


	</div>

</div>

{/block}

{block name="script"}

	<script type="text/javascript" src="__STATIC__/js/echarts/dist/echarts.js"></script>
		<script type="text/javascript">





			var ret ;
			showchart(6,0,0);
			function showchart(days,stime,etime){
				getdata(days,stime,etime);
				// 路径配置
				require.config({
					paths: {
						echarts: '__STATIC__/js/echarts/dist' //配置路径
					}
				});
				// 使用
				require(
				[
					'echarts',
					'echarts/chart/line'// K线图
				],DrawEChart);
				function DrawEChart(ec) {
					//销售统计
					myChart = ec.init(document.getElementById('statistics'), 'macarons');
					myChart.setOption({
						/*title : {
						text: '销量',//标题
						subtext: '描述',//文字
						x:'center'//坐标
						},*/
						tooltip: {
							trigger: 'axis'
						},
						legend: {
							data: ['新增会员']
						},
						toolbox: {
							show: false
						},
						calculable: false,
						xAxis: [{
							type: 'category',
							boundaryGap: false,
							data: ret.member.xAxis,
						}],
						yAxis: [{
							type: 'value'
						}],
						series: [{
							name: '新增会员',
							type: 'line',
							smooth: true,
							itemStyle: {
								normal: {
									areaStyle: {
										type: 'default'
									}
								}
							},
							data: ret.member.reg,
						}
						]
					});
				}
			}
		
			//通过Ajax获取数据
			function getdata(days,stime,etime){
				$.ajax({
					type: "get",
					async: false,
					//同步执行
					url: "<?php echo url('ajax_getdata')?>",
					dataType: "json",
					data:{days:days,stime:stime,etime:etime,formhash:formhash},
					success: function(result) {
						ret = result;

					},
					error: function(errorMsg) {
						alert("不好意思，大爷，图表请求数据失败啦!");
					}
				});
			}
			
			$(function(){
				$('.search span').on('click',function(){
					$(this).addClass('btn-info').removeClass('btn-link').siblings().addClass('btn-link').removeClass('btn-info');
					return false;
				})
				$('[type="submit"]').on('click',function(){
					var stime = $('input[name="stime"]').val();
					var etime = $('input[name="etime"]').val();
					showchart(0,stime,etime);
					return false;
				})
				var $val=$("input[type=text]").first().val();
			})






		</script>

{/block}

