{extend name="admin@public/base" /}

{block name="main-content"}
<div class="main-content">

	<div class="main-content-inner">

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">


                    <div class="border clearfix">

                        <a href="{:url('add')}" class="btn btn-warning btn-sm"><i class="icon-plus bigger-120"></i> 添加</a>
                        &nbsp;
                        <a href="{:url('delete')}" data-ajax="id" class="btn btn-danger btn-sm "><i class="icon-trash bigger-120"></i> 删除</a>



                    </div>

    <!--
        <div class="tree" style="display:inline-block;">
         <i class="icon-plus"></i>
        </div>

        预留异步加载
    -->
					<div class="table-responsive">
					  <table id="sample-table" class="table table-striped table-bordered table-hover">
   <thead>
    <tr>
     <th width="100"> <label> <input type="checkbox" class="ace " id="check-all" /> <span class="lbl"></span> </label> </th>
     <th width="100">排序</th>
     <th width="100">ID</th>
     <th>分类名称</th>
     <th width="100">所属模型</th>
     <th width="100">数据量</th>
     <th width="100">状态</th>
     <th width="350">操作</th>
    </tr>
   </thead>
   <tbody>
   {volist name="list" id="foo"}
    <tr>
     <td> <label class="check-option"> <input type="checkbox" class="ace"  value="{$foo['id']}" /> <span class="lbl"></span> </label> </td>
     <td>{$foo['sort']}</td>
     <td>{$foo['id']}</td>
     <td class="left">{$foo['_name']}</td>
     <td>{$foo['model_type']}</td>
     <td>{$foo['data_num']}</td>
     <td><i class="{if condition="$foo['display'] eq 1"}icon-ok text-success{else/}icon-remove text-danger{/if} bigger-120"></i></td>
     <td>
      <div>
       <a class="blue" href="{:url('content/index/index',['catid'=>$foo['id']])}" target="_blank"> <i class="icon-eye-open bigger-130"></i> 预览</a>
          &nbsp;
          <a class="pink" href="{:url('content/content/index',['menuid'=>$foo['id']])}"> <i class="icon-book bigger-130"></i> 内容</a>
          &nbsp;
       <a class="orange" href="{:url('add',['parent_id'=>$foo['id']])}"> <i class="icon-plus-sign bigger-130"></i> 添加子分类</a>
          &nbsp;
       <a class="green" href="{:url('edit',['id'=>$foo['id']])}"> <i class="icon-pencil bigger-130"></i> 编辑</a>
          &nbsp;
       <a class="red" data-confirm="是否确认删除？" href="{:url('delete',['id'=>$foo['id']])}"> <i class="icon-trash bigger-130"></i> 删除</a>
      </div>


     </td>
    </tr>
   {/volist}

   </tbody>
  </table>
					</div>

				</div>

			</div>



		</div>


	</div>

</div>

{/block}

